<!-- Calendly badge widget begin -->

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/stefanokaefer/30min?hide_gdpr_banner=1', text: 'Let’s Talk! Book a Meeting', color: '#0069ff',textColor: '#ffffff', branding: undefined }); }</script>
<style type="text/css"> 
    .calendly-badge-widget { 
    margin: 10px; 
    } 
    </style> 
<!-- Calendly badge widget end -->